* {
    box-sizing: border-box;
}

body {
    font-family: 'Archivo', sans-serif;
}

:root {
    --primary-color: black;
}

/* Common  */
.main-content {
    width: 1140px;
    max-width: calc(100% - 32px);
    margin-right: auto;
    margin-left: auto;
}

/* ====================HEAD=============== */
.head {
     padding: 23px 0;
}

.head .body {
    display: flex;
    align-items: center;
}

.head .body .logo {
    width: 83.98px;
    height: 35.41px;
    object-fit: cover;
    margin-right: auto;
}

.head .body .search {
    width: 160px;height: 31px;
    border: 1px solid #e1e1e1;
    background-color: #f7f7f7;
    border-radius: 999px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head .search input {
    background-color: #f7f7f7;
    border: none;
    width: 135px;
    height: 20px;
}

.head .search i {
    color: #7b7b7b;
}

.head .fa-user {
    margin-left: 18px;
    color: #7b7b7b;
}

.separate {
    margin: 0 16px;
    height: 30px;
    border-left: 1px solid #e5e5e5;
}

.head .cart {
    display: flex;
    align-items: center;
    width: 54.05px;
    height: 30.39px;
    border: 1px solid #c0c0c0;
    color: #c0c0c0;
    border-radius: 5px;
    justify-content: space-evenly;
}

.head .cart {
    transition: 0.2s ease;
}

.head .cart:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
}


/* ========================navbar============== */
.navbar {
    background-color: var(--primary-color);
    padding: 12px 0;
}

.navbar .body {
    display: flex;
    align-items: center;
}

.navbar .body .nav-left {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.navbar .body .nav-left .nav-item {
    font-size: 13.68px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

.navbar .body .nav-left i {
    width: 10.56px;
    width: 16px;
    color: #959595;
    margin-left: 5px;
}

.navbar .body .nav-left .separate {
    height: 16px;
    border-left: 1px solid #333333;
}

.navbar .body .nav-right i{
    color: #fff;
    height: 15.5px;
    width: 16px;
    margin-left: 6px;
}

/* =====================================HERO============================== */
.hero {
    overflow: hidden;
}

.hero .body {
    background-image: url(../img/hero-bg.jpg);
    background-size: cover;
    height: 500px;
    width: 100%;
    background-position: -240px;

}


.hero .hero-main {
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.hero .time {
    margin-top: 156px;
    font-size: 16px;
    color: var(--primary-color);
}

.hero h1 {
    margin-top: 24px;
    font-size: 32px;
    font-weight: 700;
    width: 216px;
    line-height: 32px;
    text-align: center;
}

.hero .discount {
    margin-top: 24px;
    font-size: 16px;
    color: var(--primary-color);
}

.hero button {
    margin-top: 28px;
    outline: 2px solid var(--primary-color);
    height: 34.797px;
    min-width: 168.88px;
    padding: 0;
}

.hero button a {
    display: block;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 15.52px;
    line-height: 30px;
    font-weight: 700;
    height: 100%;
    width: 100%;
    padding: 0 4px;
}

.hero button:first-child {
    margin-right: 18px;
}

.hero button:hover {
    background-color: var(--primary-color);
}

.hero button a:hover {
    color: #fff;
}

/* ========================================TYPE=================================== */
.types {
    margin-top: 30px;
}

.types .body {
    display: flex;
    justify-content: space-between;
}

.types .types-item {
    display: block;
    width: 31.6%;
    position: relative;
    text-decoration: none;
    font-size: 15.39px;
    font-weight: 500;
}

.types .types-item .type-img {
    width: 100%;
    object-fit: cover;
    transition: 0.25s ease;
}

.types .types-item p{
    display: block;
    width: 100%;
    color: #555;
    text-decoration: none;
    background-color: #fefefe;
    font-size: 15.39px;
    font-weight: 500;
    height: 48px;
    line-height: 15px;
    position: absolute;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    transition: 0.25s ease;
}

.types .types-item:hover .type-img{
    filter: blur(4px);
}

.types .types-item:hover p{
    background-color: var(--primary-color);
    color: #fff;
}


/* ===================================product================================= */

.products .body {
   margin-top: 90px;
}

.products h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
}

.products .product-row {
    display: flex;
    justify-content: space-between;
}

.products .body .product-item {
    width: 23.85%;
    text-align: center;
    position: relative;
}

.products .body .product-item .discount-new-hot {
    background-color: #f54337;
    color: #fff;
    font-size: 14px;
    position: absolute;
    font-weight: bolder;
    padding: 15px 5px;
    top: 25px;left: -6px;
    z-index: 1;
}

.products .body .product-item .product-pic {
    width: 100%;
    height: 346.56px;
    object-fit: cover;
}

.products .body .product-item .product-type {
    margin-top: 10px;
    font-size: 10.26px;
    letter-spacing: 0.513px;
    color: #777;
}

.products .body .product-item .product-name {
    margin-top: 6px;
    color: #334862;
    font-size: 13.68px;
}

.products .body .product-item .product-name:hover {
    cursor: pointer;
}

.products .body .product-item .rate i {
    margin-top: 10px;
}

.products .body .product-item .rate i {
    color: #d26e4b;
}

.products .body .product-item .price {
    margin-top: 8px;
    font-size: 13.68px;
    font-weight: bold;
    color: #111;
    line-height: 13.68px;
}


.products .product-item .product-after {
    opacity: 0;
    transition: opacity 0.8s ease;
    
}

.products .body .product-item:hover .product-after{
    opacity: 1;
    cursor: pointer;
}

.products .product-item .product-after .product-pic-after {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.products .add-to-wishlist {
    height: 30px;
    width: 30px;
    border: 2px solid #c0c0c0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    position: absolute;
    top: 8px;
    right: 8px;
}

.products .add-to-wishlist:hover {
    background-color: #b20000;
    border-color: #b20000;
    cursor: pointer;
}

.products .add-to-wishlist:hover i {
    color: #fff;
    cursor: pointer;
}

.products .add-to-wishlist i {
    font-size: 14px;
    color: #c0c0c0;
}

.products .cart .cart-top {
    height: 18px;
    width: 18px;
    border: 2px solid var(--primary-color);
    border-radius: 999px;
    position: absolute;
    bottom: 114px;
    left: 20px;
}

.products .cart .cart-bot {
    height: 25px;
    width: 25px;
    border: 2px solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    position: absolute;
    bottom: 100px;
    left: 16px;
    z-index: 1;
    background-color: black;
}

.products .cart .cart-bot a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
}

.products .cart:hover .cart-top{
    transform: translateY(-2px);
}

/* ===============================feature========================= */
.features {
    margin-top: 130px;
}

.features .body {
    display: flex;
    justify-content: space-between;
}

.features .body div {
    width: 48.6%;
    height: 403px;
    object-fit: cover;
}

.features .body .feature-left {
    background-image: url(../img/feature/f1.png);
    display: flex;
    flex-direction: column;
    position: relative;
}

.features .body .feature-left .feature-head {
    margin-top: 96px;
    font-size: 24.4px;
    font-weight: 400px;
    line-height: 31px;
    color: #555;
    margin-left: auto;
    text-align: right;
    margin-right: 58px;
}

.features .body .feature-left .feature-head strong {
    font-size: 35.38px;
    letter-spacing: 1.769px;
    font-weight: 700;
    color: #555555;
    line-height: 35.38px;
}

.features .body .feature-left .feature-sub {
    margin-top: 12px;
    font-size: 12.2px;
    color: #777;
    margin-left: auto;
    margin-right: 58px;
}

.features .body .feature-left .feature-left-btn {
    position: absolute;
    bottom: -210px;
    right: 24px;
}

.features .body .feature-left .feature-left-btn button {
    outline: 2px solid var(--primary-color);
    margin-left: 16px;
    height: 28px;
    padding: 1px 0;
}

.features .body .feature-left .feature-left-btn button:first-child{
    background-color: var(--primary-color);
}

.features .body .feature-left .feature-left-btn button:nth-child(2):hover{
    background-color:var(--primary-color);
}

.features .body .feature-left .feature-left-btn button a {
    text-decoration: none;
    font-size: 11.834px;
    font-weight: 700;
    letter-spacing: 0.35px;
    padding: 5px 10px;
}

.features .body .feature-left .feature-left-btn button a.right:hover{
    color: #fff;
}

.features .body .feature-left .feature-left-btn button a.left{
    color: #fff;
}

.features .body .feature-left .feature-left-btn button a.right{
    color: var(--primary-color);
}

.features .body .feature-right {
    background-image: url(../img/feature/f2.png);
}

.features .feature-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 2s ease-in-out;
}

.features .feature-right .feature-open{
    font-size: 13.3px;
    letter-spacing: 0.665px;
    color: #fff;
    margin-top: 92px;
}

.features .feature-right .feature-head{
    font-size: 26.6px;
    font-weight: 400;
    letter-spacing: 1.33px;
    color: #fff;
    line-height: 26.6px;
    margin-top: 12px;
    text-align: center;
}

.features .feature-right .feature-sub {
    margin-top: 16px;
    font-size: 13.3px;
    line-height: 21.28px;
    color: #fff;
    text-align: center;
}

.features .feature-right button {
    margin-top: 20px;
    outline: 2px solid #fff;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 20px 0 0 0;
    padding: 5px 10px;
    z-index: 1;
    transition: 0.s ease;
}

.features .feature-right button a {
    text-decoration: none;
    font-size: 12.9px;
    font-weight: 700;
    color: #fff;
    padding: 7px 10px;
    transition: 0.5s ease;
}

.features .feature-right button:hover,
.features .feature-right button a:hover {
    background-color: #fff;
    color: #666;
}

.features .feature-right:hover{
    filter: brightness(80%);
}


/* ==============================NEWS============================ */
.news {
    padding-bottom: 60px;
}

.news h2 {
    margin-top: 30px;
    font-size: 17.1px;
    font-weight: 500;
    color: #555;
    text-align: center;
    position: relative;
}

.news h2::after {
    display: block;
    content: "";
    height: 3px;
    width: 30px;
    background-color: #777;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -16px;
}

.news .news-row {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.news .news-row a {
    width: 46.7%;
    text-decoration: none;
}

.news .news-row a .news-item {
    display: flex;
}

.news .news-row .news-item img {
    width: 240px;
    height: 214px;
    object-fit: cover;
}
.news .news-row .news-item .new-info {
    padding: 33px 0 42px 20px;
}

.news .new-info .new-name{
    font-size: 15.732px;
    font-weight: 500;
    text-decoration: none;
    color: #555;
    line-height: 20.4516px;
}

.news .new-info .new-time {
    margin-top: 5px;
    font-size: 10.944px;
    color: #777;
    opacity: 0.8;
}

.news .new-info .new-time::after {
    display: block;
    content: "";
    height: 2px;
    width: 30px;
    background-color: #777;
    margin-top: 12px;
}

.news .new-info .new-sub {
    margin-top: 12px;
    font-size: 13.68px;
    line-height: 21.888px;
    color: #777;
}

.news .new-info .new-sub:hover {
    color: black;
    cursor: pointer;
}

/* ===============================FOOTER========================== */
.footer::before {
    display: block;
    content:  "";
    height: 1px;
    width: 99.1vw;
    background-color: #555;
}

.footer .footer-top .register {
    display: flex;
    align-items: center;
    margin-top: 28px;
}

.footer .footer-top .register h2 {
    font-size: 15.2px;
    font-weight: 700;
    color: #555;
}

.footer .footer-top .register .register-sub {
    margin-top: 15px;
    font-size: 12.16px;
    color: #777;
}

.footer .footer-top .register .mail-register {
    margin-left: 88px;
}

.footer .footer-top .register .mail-register input {
    height: 36px;
    width: 360px;
    background-color: #fff;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    border: 1px solid #ddd;
    color: #333
}

.footer .footer-top .register .mail-register input:focus {
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    border: 1px solid #ddd;
    color: #333
}

.footer .footer-top .register .mail-register  button {
    margin-left: 15px;
    height: 36px;
    width: 105px;
    background-color: var(--primary-color);
    font-size: 14.744px;
    font-weight: 700;
    color: #fff;
}

.footer .footer-bot {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.footer .footer-bot h2 {
    margin-bottom: 20px;
    color: #555;
    font-size: 15.2px;
    font-weight: 700;
}

.footer .footer-bot p,
.footer .footer-bot a {
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 15.2px;
    margin-bottom: 16px;
}

.footer .footer-bot a.tel{
    display: inline-block;
}

.footer .footer-bot a:hover {
    color: var(--primary-color);
}

.footer i {
    margin-right: 10px;
}


/* ===================================end========================== */
.end {
    background-color: var(--primary-color);
    padding: 20px 0 15px;
}

.end .coppyright,
.end .about,
.end .pay {
    text-align: center;
    margin-top: 15px;
}


.end svg {
    width: 40px;height: 20px;
    fill: #999999;
    margin-left: 10px;
}
.end a {
    text-decoration: none;
    color: #999999;
    font-size: 11.628px;
    letter-spacing: 0.58px;
    margin-left: 10px;
}

.end a:hover {
    color: #fff;
}

.end .coppyright {
    font-size: 13.68px;
    color: #999999;
}

.end .coppyright strong {
    font-weight: 700;
}